.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.completedTask{
  opacity: 0.5;
}
.task{
  font-weight: bold;
}
.headerFilter{
  margin-left: 20px;
  font-size: 15px;
  color: lightseagreen;
  display: inline-block;
  border-radius: 25px;
  background-color: lightgray;
  padding: 5px;
}
.title{
  display: block;
}
.activeBtn{
  border: 1px solid black;
  background-color: lightseagreen;

}
.error{
  outline: none;
  border:2px solid red;
}

